<div class="justify-content-between border rounded toolbar" [ngClass]="{'active shadow-sm': isVisible}">
    <button type="button" [disabled]="!isVisible" ngbTooltip="Exporter sous format Excel" (click)="actionClicked('excel')" class="btn ka-btn-icon ka-btn-transparent-dark" [ngClass]="{'excel': isVisible}">
        <i class="far fa-file-excel"></i>
    </button>
    <button type="button" [disabled]="!isVisible" ngbTooltip="Télécharger comme PDF" (click)="actionClicked('pdf')" class="btn ka-btn-icon ka-btn-transparent-dark" [ngClass]="{'pdf': isVisible}">
        <i class="far fa-file-pdf"></i>
    </button>
    <button type="button" [disabled]="!isVisible" ngbTooltip="Imprimer la séléction" (click)="actionClicked('print')" class="btn ka-btn-icon ka-btn-transparent-dark" [ngClass]="{'print': isVisible}">
        <i class="feather-printer"></i>
    </button>
    <button type="button" [disabled]="!isVisible" ngbTooltip="Envoyer par mail" (click)="actionClicked('email')" class="btn ka-btn-icon ka-btn-transparent-dark" [ngClass]="{'mail': isVisible}">
        <i class="far fa-envelope"></i>
    </button>
    <button type="button" [disabled]="!isVisible" ngbTooltip="Envoyer par SMS" (click)="actionClicked('sms')" class="btn ka-btn-icon ka-btn-transparent-dark" [ngClass]="{'sms': isVisible}">
        <i class="fa fa-sms"></i>
    </button>
</div>