$top_nav--height: 3.625rem;
$sidebar--width: 16rem;

$default-font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$default-font-size: 1rem;
$default-font-weight: 400;
$headings-font-family: "Libre Franklin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight: 600;
$headings-line-height: 1.2;

$dark: var(--dark);
$dark-2: #373c45;
$gray: var(--gray);
$light: var(--light);
$success: var(--success);
$primary: var(--primary);
$secondary: var(--secondary);
$bg-primary: #0061f2;
$lightblue: #3f84ea;
$lightblue-2: #2e79e8;
$bg-success: #00ac69;
$bg-danger: #e81500;

$card-gradient-angle: 162deg;