<form class="form-inline" [formGroup]="filterForm" (ngSubmit)="doOnFilter()">
    <div class="d-flex flex-wrap justify-content-start align-items-baseline w-100">
        <div class="ml-md-auto">
            <div class="form-group">
                <ng-multiselect-dropdown
                    [placeholder]="'Toutes les agences'"
                    [data]="agences"
                    formControlName="agences"
                    [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="ml-md-3">
                <ng-multiselect-dropdown
                    [placeholder]="'Toutes les SCI'"
                    [data]="scis"
                    formControlName="scis"
                    [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
        </div>
        <div class="ml-md-3">
            <button mat-button type="submit" class="btn btn-outline-lightblue filter btn-sm">
                <i class="fa fa-filter"></i>
                Filtrer
            </button>
        </div>
    </div>
</form>
