<form class="form-inline mb-5" [formGroup]="filterForm" (ngSubmit)="doOnFilter()">
    <div class="d-flex flex-wrap justify-content-start align-items-baseline w-100 mb-1">
        <div class="d-flex mb-2">
            <mat-form-field class="mr-3">
                <mat-label>Date de début</mat-label>
                <input matInput [required]="false" formControlName="startDate" [matDatepicker]="startPicker">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Date de fin</mat-label>
                <input matInput [required]="false" formControlName="endDate" [matDatepicker]="endPicker">
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="ml-md-3">
            <div class="form-group">
                <ng-multiselect-dropdown
                    [placeholder]="'Toutes les agences'"
                    [data]="agences"
                    formControlName="agences"
                    [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="ml-md-3">
                <ng-multiselect-dropdown
                    [placeholder]="'Toutes les SCI'"
                    [data]="scis"
                    formControlName="scis"
                    [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
        </div>
    </div>
    <button mat-button type="submit" class="btn btn-outline-lightblue btn-sm">
        <i class="fa fa-filter"></i>
        Filtrer
    </button>
</form>
