<table *ngIf="encaissements" class="table table-striped table-responsive table-hover ka-datatable">
    <thead>
        <tr>
            <th>N°</th>
            <th>Client</th>
            <th>Espace loué</th>
            <th>Loyer</th>
            <th>Caution</th>
            <th>Total encaissements</th>
            <th>Nb. mois</th>
            <th>Date dernier paiement</th>
            <th>Montant dernier paiement</th>
            <th>Contact client</th>
            <th>Agence</th>
            <th>SCI</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of encaissements; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.nomClient }}</td>
            <td>{{ item.espaceLoue }}</td>
            <td>{{ item.loyer }}</td>
            <td>{{ item.cotion || '0' }}</td>
            <td>{{ item.totalEncaissements }}</td>
            <td>{{ item.nombreMois }}</td>
            <td>{{ item.dateDernierPaiement }}</td>
            <td>{{ item.montantDernierPaiement }}</td>
            <th>{{ item.contactClient }}</th>
            <td>{{ item.nomAgence }}</td>
            <td>{{ item.sci }}</td>
        </tr>
    </tbody>
</table>