<div class="card mb-4">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-sm-12 col-md-3">
                <div id="dataTable_filter" class="dataTables_filter">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                        <div class="input-group-text"><i class="feather-search text-muted"></i></div>
                        </div>
                        <input [(ngModel)]="searchInput" type="text" class="border form-control form-control-sm ka-form-control-solid" placeholder="Recherche" aria-controls="dataTable">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-flex justify-content-md-end align-items-center">
                <div class="justify-content-between border rounded" [ngClass]="{'d-none': !selectionExists}">
                    <button type="button" class="btn ka-btn-icon ka-btn-transparent-dark">
                        <i class="fa fa-file-excel"></i>
                    </button>
                    <button type="button" class="btn ka-btn-icon ka-btn-transparent-dark">
                        <i class="fa fa-file-pdf"></i>
                    </button>
                    <button type="button" class="btn ka-btn-icon ka-btn-transparent-dark">
                        <i class="fa fa-print"></i>
                    </button>
                    <button type="button" class="btn ka-btn-icon ka-btn-transparent-dark">
                        <i class="fa fa-envelope"></i>
                    </button>
                    <button type="button" class="btn ka-btn-icon ka-btn-transparent-dark">
                        <i class="fa fa-sms"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-responsive-lg ka-datatable">
            <thead>
                <tr>
                    <th [ngClass]="{'checkbox': true, 'checked': isAllChecked }">
                        <button ngbTooltip="Séléctionner" [openDelay]="300" (click)="onToggleCheckedAll()" class="btn mark-as-done d-flex justify-content-center align-items-center white">
                            <i class="feather-check"></i>
                        </button>
                    </th>
                    <th>Réf.</th>
                    <th>Client</th>
                    <th>Espace loué</th>
                    <th>Total Enc.</th>
                    <th>Dern. paiement</th>
                    <th>Mt dern. paiement</th>
                    <!--<th>Contact Client</th> -->
                    <th>Agence</th>
                    <th>SCI</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items | checkable | appFilter : searchInput; let i = index" [ngClass]="{'active': item.checked}">
                    <td [ngClass]="{'checkbox': true, 'checked': item.checked }">
                        <button (click)="onToggleChecked(item)" class="btn mark-as-done d-flex justify-content-center align-items-center">
                            <i class="feather-check"></i>
                        </button>
                    </td>
                    <td class="button">
                        <button class="btn btn-link" [openDelay]="300" (click)="openDetails(detailsRef)" ngbTooltip="Cliquez pour voir les détails" placement="bottom">{{ item.reference }}</button>
                    </td>
                    <td>{{ item.nomClient | slice : 0 : 15 }}</td>
                    <td>{{ item.espaceLoue | slice : 0 : 25 }}</td> <!-- (0, 27)-->
                    <!--<td>{{ item.loyer }}</td>-->
                    <!--<td>{{ item.cotion || '0' }}</td>-->
                    <td>{{ item.totalEncaissements }}</td>
                    <td>{{ item.dateDernierPaiement }}</td>
                    <td>{{ item.montantDernierPaiement }}</td>
                    <!--<th>{{ item.contactClient }}</th>-->
                    <td>{{ item.nomAgence }}</td>
                    <td>{{ item.sci }}</td>
                    <ng-template #detailsRef let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title h6">Référence: {{ item.reference }}</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Date</th>
                                        <td>{{ item.date | dateFormatFR }}</td>
                                    </tr>
                                    <tr>
                                        <th>Bénéficiaire</th>
                                        <td>{{ item.beneficiaire }}</td>
                                    </tr>
                                    <tr>
                                        <th>Contact Bénéficiaire</th>
                                        <td>{{ item.contact }}</td>
                                    </tr>
                                    <tr>
                                        <th>Motif</th>
                                        <td>{{ item.motif }}</td>
                                    </tr>
                                    <tr>
                                        <th>Montant</th>
                                        <td>{{ item.montant }}</td>
                                    </tr>
                                    <tr>
                                        <th>N° pièce justificative</th>
                                        <td>{{ item.numFacturePiece }}</td>
                                    </tr>
                                    <tr>
                                        <th>Opérateur</th>
                                        <td>{{ item.operateur }}</td>
                                    </tr>
        
                                    <tr>
                                        <th>Ordonnateur</th>
                                        <td>{{ item.ordonnateur }}</td>
                                    </tr>
        
                                    <tr>
                                        <th>Agence</th>
                                        <td>{{ item.agence }}</td>
                                    </tr>
                                
                                    <tr>
                                        <th>SCI</th>
                                        <td>{{ item.sci }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Fermer</button>
                        </div>
                    </ng-template>
                </tr>
                <tr *ngIf="items && !items.length">
                    <td>Pas de résultats.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>