<div [ngClass]="{'ka-nav-fixed': true, 'main-menu-toggled': isToggled}">
	<app-top-nav [appName]="APP_NAME" [isAuth]="isAuth" (toggled)="onToggleMenu()" *ngIf="isAuth"></app-top-nav>
	<div id="wrapper">
		<!-- SIDEBAR-->
		<app-sidebar *ngIf="isAuth"></app-sidebar>
		<!-- END SIDEBAR-->
		<div [ngClass]="{'main-content': isAuth}">
			<main>
				<div class="container-fluid px-0">
					<router-outlet></router-outlet>
					<div id="content-blocker"></div>
				</div>
			</main>
		</div>
	</div>
</div>
<div class="copyright d-flex justify-content-center align-items-center shadow-lg">
	Copyright &copy;
	<span class="app-name mx-1 tex">ImmoBiLio 1.0.2.</span> All rights reserved.
	<span class="company mx-1">KuTiWa.</span>
	<a href="" class="mx-1">Terms of use</a>
	|
	<a href="" class="mx-1">Privacy</a>
	|
	<a href="" class="mx-1">Cookies</a>
</div>