<div class="main-menu main-menu-light">
    <nav class="main-menu__nav pt-3">
        <div class="nav accordion" id="accordionSideNav">
            <ng-container *ngFor="let item of items">
                <app-sidebar-item class="w-100" [item]="item"></app-sidebar-item>
            </ng-container>
        </div>
    </nav>
    <div class="sidebar-footer d-none nav">
        <a href="javascript:void()" class="nav-link">
            <div class="nav-icon">
                <i class="feather-cog"></i>
                &nbsp;&nbsp;Paramètres
            </div>
        </a>
    </div>
</div>
