<div class="main-menu main-menu-light">
    <nav class="main-menu__nav pt-3">
        <div class="nav accordion" id="accordionSideNav">
            <ng-container *ngFor="let item of items">
                <app-sidebar-item class="w-100" [isCollapsed]="item.collapseDefault" [item]="item"></app-sidebar-item>
            </ng-container>
        </div>
        <div class="sidebar-footer nav">
            <a routerLink="/settings" class="nav-link">
                <div class="nav-icon align-items-baseline">
                    <i class="fa fa-cogs mr-1"></i>Paramètres et Préférences
                </div>
            </a>
        </div>
    </nav>
</div>
