<div class="container mt-3">
    <app-heading icon="fa fa-chart-bar" title="Statistiques"></app-heading>
    <div class="main">
        <div class="row">
            <div class="col-md-7 mb-4 pr-0">
                <div class="card shadow-sm px-2 pb-3">
                    <app-bar-chart
                        *ngIf="operationsByTypeOperation"
                        heading="Évolution globale des opérations"
                        [chart]="operationsByTypeOperation"
                        stepSize="10_000_000"
                        type="line">
                    </app-bar-chart>
                    <p class="text-danger" *ngIf="errors.has('operationsByTypeOperation')">
                        {{ errors.get('operationsByTypeOperation') }}
                    </p>
                </div>
            </div>
            <div class="col-md-5 mb-4">
                <div class="card shadow-sm px-2 pb-3">
                    <app-pie-chart
                        *ngIf="collectionByCustomerType"
                        heading="Encaissements par type de client"
                        [pieChart]="collectionByCustomerType"
                        type="doughnut">
                    </app-pie-chart>
                    <p class="text-danger" *ngIf="errors.has('collectionByCustomer')">
                        {{ errors.get('collectionByCustomer') }}
                    </p>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col mb-4">
                <div class="card shadow-sm px-2 pb-3">
                    <app-bar-chart
                        *ngIf="invoiceByPaymentMethodChart"
                        heading="Paiements de factures par mode de paiement"
                        [chart]="invoiceByPaymentMethodChart"
                        stepSize="10_000_000"
                        type="bar">
                    </app-bar-chart>
                    <p class="text-danger" *ngIf="errors.has('invoicesByPayment')">
                        {{ errors.get('invoicesByPayment') }}
                    </p>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow-sm px-2 pb-3">
                    <app-bar-chart
                        *ngIf="expensesByNatureExpenseChart"
                        heading="Dépenses réalisées par nature de la dépense"
                        [chart]="expensesByNatureExpenseChart"
                        useCustomColor="true">
                    </app-bar-chart>
                    <p class="text-danger" *ngIf="errors.has('expensesByNature')">
                        {{ errors.get('expensesByNature') }}
                    </p>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow-sm px-2 pb-3">
                    <app-basic-h-bar-chart
                        *ngIf="collectionsChart"
                        heading="Encaissements par agences"
                        [chart]="collectionsChart">
                    </app-basic-h-bar-chart>
                    <p class="text-danger" *ngIf="errors.has('collections')">
                        {{ errors.get('collections') }}
                    </p>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow-sm px-2 pb-3">
                    <app-agence-listing [targetPathPrefix]="'/dashboard/statistiques'" [title]="'Afficher les statistiques d\'une agence'"></app-agence-listing>
                </div>
            </div>
        </div>
    </div>
</div>
