<div class="card mb-4">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-sm-12 col-md-3">
                <div id="dataTable_filter" class="dataTables_filter">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                        <div class="input-group-text"><i class="feather-search text-muted"></i></div>
                        </div>
                        <input [(ngModel)]="searchInput" type="text" class="border form-control form-control-sm ka-form-control-solid" placeholder="Recherche" aria-controls="dataTable">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-flex justify-content-md-end align-items-center">
                <app-table-toolbar (onAction)="onToolbarAction($event)" [isVisible]="selectionExists"></app-table-toolbar>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-responsive-lg ka-datatable">
            <thead>
                <tr>
                    <th [ngClass]="{'checkbox': true, 'checked': isAllChecked }">
                        <button ngbTooltip="Séléctionner" [openDelay]="300" (click)="onToggleCheckedAll()" class="btn mark-as-done d-flex justify-content-center align-items-center white">
                            <i class="feather-check"></i>
                        </button>
                    </th>
                    <th>Réf.</th>
                    <th>Type Op.</th>
                    <th>Client</th>
                    <th>Libellé</th>
                    <th>Montant</th>
                    <th>Date</th>
                    <th>Agence</th>
                    <th>Crée par</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items | checkable | appFilter : searchInput; let i = index" [ngClass]="{'active': item.checked}">
                    <td [ngClass]="{'checkbox': true, 'checked': item.checked }">
                        <button (click)="onToggleChecked(item)" class="btn mark-as-done d-flex justify-content-center align-items-center">
                            <i class="feather-check"></i>
                        </button>
                    </td>
                    <td class="button">
                        <button class="btn btn-link" [openDelay]="300" (click)="openDetails(detailsOperation)" ngbTooltip="Cliquez pour voir les détails" placement="bottom">{{ item.reference }}</button>
                    </td>
                    <td>{{ item.typeOp }}</td>
                    <td>{{ (item.nomClient || item.prenomClient) | slice : 0 : 15 }}</td>
                    <td>{{ item.libelle | slice : 0 :20 }}</td>
                    <td>{{ (item.montant | number | amount) || '0' }}</td>
                    <td>{{ item.date | dateFormatFR }}</td>
                    <td>{{ item.agence }}</td>
                    <td>{{ item.creePar }}</td>
                    <td class="actions">
                        <button class="btn action edit" ngbTooltip="Modifier">
                            <i class="feather-edit-3"></i>
                        </button>
                        <button class="btn action trash" ngbTooltip="Supprimer">
                            <i class="feather-trash-2"></i>
                        </button>      
                    </td>
                    <ng-template #detailsOperation let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title h6">Référence: {{ item.reference }}</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Type opération</th>
                                        <td>{{ item.typeOp }}</td>
                                    </tr>
                                    <tr>
                                        <th>Client</th>
                                        <td>{{ item.nomClient + ' ' + item.prenomClient }}</td>
                                    </tr>
                                    <tr>
                                        <th>Montant</th>
                                        <td>{{ item.montant | number | amount }}</td>
                                    </tr>
                                    <tr>
                                        <th>Libellé</th>
                                        <td>{{ item.libelle }}</td>
                                    </tr>
                                    <tr>
                                        <th>N° pièce justificative</th>
                                        <td>{{ item.numFacturePiece }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date</th>
                                        <td>{{ item.date | dateFormatFR }}</td>
                                    </tr>
                                    <tr>
                                        <th>Agence</th>
                                        <td>{{ item.agence }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Fermer</button>
                        </div>
                    </ng-template>
                </tr>
                <tr *ngIf="items && !items.length">
                    <td>Pas de résultats.</td>
                </tr>
            </tbody>
        </table>
        <app-table-selection-info [nbSelections]="nbSelections" [totalItems]="items?.length"></app-table-selection-info>
    </div>

    <table id="itemsTable" class="table d-none table-striped ka-datatable table-responsive-lg" #itemsTable>
        <thead>
            <tr>
                <th>Réf.</th>
                <th>Type Opération</th>
                <th>Client</th>
                <th>Libellé</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Agence</th>
                <th>Crée par</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items | appFilter : searchInput">
                <td>{{ item.reference }}</td>
                <td>{{ item.typeOp }}</td>
                <td>{{ item.nomClient + ' ' + item.prenomClient }}</td>
                <td>{{ item.libelle }}</td>
                <td>{{ (item.montant | number | amount) || '0' }}</td>
                <td>{{ item.date | dateFormatFR }}</td>
                <td>{{ item.agence }}</td>
                <td>{{ item.creePar }}</td>
            </tr>
        </tbody>
    </table>
</div>
