<div class="container mt-3">
	<app-heading icon="fa fa-donate" title="Encaissements"></app-heading>
	<div class="main">
		<p>Table is just a mapping of objects to table rows with
			<code>ngFor</code>
		</p>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nom de l'immeuble</th>
					<th scope="col">Montant total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
                    <th scope="row">1</th>
                    <td>BOUTIQUE BONADALE</td>
                    <td>7615000</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

