<table *ngIf="arrierees" class="table table-striped table-responsive-lg table-hover ka-datatable">
    <thead>
        <tr>
            <th>Réf.</th>
            <th>Client</th>
            <th>Espace loué</th>
            <th>Loyer</th>
            <th>Montant dû</th>
            <th>Nb. mois</th>
            <th>Date Dern. Paie.</th>
            <th>Mt. Dern. Paie.</th>
            <th>Agence</th>
            <th>SCI</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of arrierees; let i = index">
            <td>{{ item.reference }}</td>
            <td>{{ item.nomClient }}</td>
            <td>{{ item.espaceLoue }}</td>
            <td>{{ item.loyer }}</td>
            <td>{{ item.montantDu }}</td>
            <td>{{ item.nombreMois }}</td>
            <td>{{ item.dateDernierPaiement }}</td>
            <td>{{ item.montantDernierPaiement }}</td>
            <td>{{ item.nomAgence }}</td>
            <td>{{ item.sci }}</td>
        </tr>
    </tbody>
</table>